{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "@vanilla-extract/babel-plugin",
    [
      "@babel/plugin-proposal-private-property-in-object",
      {
        "loose": true
      }
    ]
  ]
}